@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100vh;
}

body {
  height: 100vh;
}

.link.ex {
  color: blue;
}

.link.in {
  color: green;
}

.link:hover {
  text-decoration: underline;
}

.project-page h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}